@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Your Library</h1>

    <div class="form-group">
        <div class="row mb-3">
            <div class="col-md-12">
                <label for="searchType" class="form-label">Search by:</label>
                <select id="searchType" class="form-control">
                    <option value="Author">Author</option>
                    <option value="ISBN">ISBN</option>
                    <option value="Status">Status</option>
                </select>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-12">
                <label for="searchValue" class="form-label">Search Value:</label>
                <input type="text" id="searchValue" class="form-control" placeholder="Enter search term..." />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button id="searchButton" class="btn btn-primary mt-4">Search</button>
            </div>
        </div>
    </div>

    <div class="mt-3">
        <table id="results" class="table">
            <thead>
                <tr>
                    <th scope="col">Book title</th>
                    <th scope="col">Authors</th>
                    <th scope="col">Type</th>
                    <th scope="col">ISBN</th>
                    <th scope="col">Category</th>
                    <th scope="col">Available Copies</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>                
            </tbody>
        </table>
    </div>

</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#searchButton').click(function () {
                debugger;
                var searchType = $('#searchType').val();
                var searchValue = $('#searchValue').val();
                var apiUrl = 'https://localhost:7088/Book/search'; 
                
                apiUrl += '?' + encodeURIComponent(searchType.toLowerCase()) + '=' + encodeURIComponent(searchValue);

                $.ajax({
                    url: apiUrl,
                    type: 'GET',
                    success: function (books) {
                        var resultHtml = '';
                        if (books.length) {
                            $.each(books, function (i, book) {
                                resultHtml += '<tr>' +
                                    '<td>' + book.title + '</td>' +
                                    '<td>' + book.lastName +','+ book.firstName + '</td>' +
                                    '<td>' + book.type + '</td>' +
                                    '<td>' + book.isbn + '</td>' +
                                    '<td>' + book.category + '</td>' +
                                    '<td>' + book.copiesInUse + '/' + book.totalCopies + '</td>' +
                                    '<td>' + book.status + '</td>' +
                                    '</tr>';
                            });
                        } else {
                            resultHtml = '<tr><td colspan="6">No books found.</td></tr>';
                        }
                        $('#results tbody').html(resultHtml); // Adicionando as linhas à tabela
                    },
                    error: function () {
                        $('#results tbody').html('<tr><td colspan="6">An error occurred while searching.</td></tr>');
                    }
                });
            });
        });
    </script>

}



